
*{
    width:fit-content;
}
nav {
    text-align:center;
    padding:10px;
    height:100px;
    width:fit-content;
    border:0;
    margin: 0;
    background-color: black;
    opacity:20%;

}
ul{
    word-spacing: 200px;
}
nav li {

    list-style-type:none;
    display: inline-block;
    font-size: 15px;
}
nav li a {
    text-decoration: none;
    color:whitesmoke;
}
#logo {

    color:chocolate;
    background-color: pink;
    border-radius: 50%;
    padding: 10px;
    margin-right:0; }

body{
    color: white;
    width:fit-content;
    height:700px;
    background-color:black;
}
  .hero{
    text-align: center;
    background-color: tomato;
    padding: 60px;
    height:300px;
    margin-bottom: 10px;
}
.hero h3{
    opacity:40%;
    display: inline;
    text-align: center;
}
.hero p{
    margin-top: 40px;
}
.hero button{
    color:white;
    background-color:black;
    margin-top: 30px;
    opacity: 40%;
    border:none;
    padding: 20px 30px;
}

#contact{
    margin-top: 60px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 10px;
   float: left;
}

#contact p{
    opacity:50%;
    padding-top: 20px;
    text-align: center;
}
#gps{
    margin-top: 10px;
    background-color:paleturquoise;
    text-align: center;
    margin: 0 auto;
    opacity: 70%;
    float: left;
}

#gps p{
    opacity: 50%;
    padding-top: 20px ;
}

#gps,#contact {
    color:black;
    text-align: center;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    width:400px;
    height: 300px;
}
footer{
    text-align: center;
    margin: 0 auto;
    height:100px;
    color: green;}
  